---
import BaseHead from "$components/BaseHead.astro";
import Header from "$components/Header.astro";
import Footer from "$components/Footer.astro";
import { kUrlBase, kSiteTitle, kSiteDescription } from "$consts";
import { getCollection } from "astro:content";
import FormattedDate from "$components/FormattedDate.astro";
import "./PostList.css";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf()
);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={kSiteTitle} description={kSiteDescription} />
  </head>
  <body>
    <Header />
    <main>
      <section>
        <ul class="posts">
          {
            posts.map((post) => (
              <li>
                <a href={`${kUrlBase}/article/${post.id}/`}>
                  <h4>
                    <span class="title">{post.data.title}</span>
                  </h4>
                  <span class="date">
                    <FormattedDate date={post.data.date} />
                  </span>
                </a>
              </li>
            ))
          }
        </ul>
      </section>
    </main>
    <Footer />
  </body>
</html>
