---
import { getCollection } from "astro:content";

import { BaseHead, Footer, Header } from "$components";
import {
  kSiteTitle,
  kSiteIndexTitle,
  kSiteDescription,
  kCommentList,
  kUrlBase,
  kBaiduVeriCode,
} from "$consts";
// @ts-ignore
import AboutContent from "../../content/other/about.typ?html&body";

import "$styles/IndexPostList.css";
import { getPostLocaleInfo } from "$components/locale";

const currentLocale = Astro.currentLocale || "en";

const pdfArchives = await getCollection("archive");
const posts = await getCollection("blog");

const lastPost =
  posts.length === 0
    ? undefined
    : posts.reduce((prev, cur) =>
        cur.data.date > prev.data.date ? cur : prev
      );
const localePostData = lastPost && getPostLocaleInfo(lastPost.id);
const lastComment =
  kCommentList.length === 0
    ? undefined
    : kCommentList.reduce((prev, cur) =>
        new Date(cur.createdAt) > new Date(prev.createdAt) ? cur : prev
      );
const lastArchive =
  pdfArchives.length === 0
    ? undefined
    : pdfArchives.reduce((prev, cur) =>
        cur.data.date > prev.data.date ? cur : prev
      );

function getOrdinalNum(n: number) {
  return (
    n +
    (n > 0
      ? ["th", "st", "nd", "rd"][(n > 3 && n < 21) || n % 10 > 3 ? 0 : n % 10]
      : "")
  );
}
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={kSiteTitle} description={kSiteDescription} />
    <!-- Baidu -->
    {
      kBaiduVeriCode && (
        <meta name="baidu-site-verification" content={kBaiduVeriCode} />
      )
    }
    <style is:global>
      html:lang(zh) :lang(en) {
        display: none;
      }
      html:lang(en) :lang(zh) {
        display: none;
      }

      .nav-section {
        display: none;
      }
      .nav-section.default {
        display: block;
      }
      html.lang-active:lang(en) .nav-section.default,
      html.lang-active:lang(zh) .nav-section.default {
        display: none;
      }
      html.lang-active:lang(zh) .nav-section {
        display: block;
      }
      html.lang-active:lang(en) .nav-section {
        display: block;
      }
    </style>
    <style>
      .comments a {
        display: inline-block;
      }
      @media (max-width: 600px) {
        .posts .heading {
          display: flex;
          flex-direction: column;
        }
      }
      .comment-item {
        background-color: var(--main-bg-color);
      }
      .monthly li {
        font-style: italic;
      }
      main {
        margin-top: 1em;
        min-height: calc(92vh - 6em);
      }
      h1 {
        font-size: 3.5rem;
        margin-block-end: 0.5em;
      }
      @media (max-width: 767px) {
        h1 {
          font-size: 0;
        }
      }

      .nav {
        display: flex;
        flex-direction: column;
        list-style: none;
        gap: 1em;
        padding: 0;
        margin: 0;
        margin-top: 1.5em;
      }
      .nav li {
        padding: 0.2em 1em;
        display: flex;
        flex-direction: column;
        border-left: 2.5px solid var(--main-color);
      }
      .nav li > :nth-child(1) {
        flex: 0 auto;
      }
      @media (min-width: 550px) {
        .nav li {
          flex-direction: row;
          justify-content: space-between;
        }
        .nav li > :nth-child(1) {
          flex: 0 0 7em;
        }
        .nav li > :nth-child(2) {
          flex-grow: 1;
          min-width: 0;
          overflow: hidden;
          line-height: 1.7em;
          max-height: 1.7em;
          text-align: left;
        }
      }
    </style>
  </head>
  <body>
    <Header breadcrumbs="" isHome={true} />
    <main>
      <section aria-label="Prelude">
        <h1 set:html={kSiteIndexTitle} />
        <AboutContent />
      </section>

      <section class="nav-section default" lang="en">
        <ul class="nav">
          <li>
            <a href=`${kUrlBase}/article/`>Posts</a>
            {
              lastPost && (
                <a
                  class="nav-desc"
                  href={`${kUrlBase}/article/${lastPost.id}`}
                  title={lastPost.data.title}
                >
                  {lastPost.data.title}
                </a>
              )
            }
          </li>
          <li>
            <a href=`${kUrlBase}/archive/`>Archives</a>
            {
              lastArchive && (
                <a
                  class="nav-desc"
                  href={`${kUrlBase}/archive/${lastArchive.id}.pdf`}
                  title={lastArchive.data.title}
                >
                  {lastArchive.data.title}
                </a>
              )
            }
          </li>
          <li>
            <a href=`${kUrlBase}/comment/`>Comments</a>
            {
              lastComment && (
                <span
                  class="nav-desc"
                  title={`${lastComment.email} at ${new Date(lastComment.createdAt).toLocaleString()}. ${lastComment.content}`}
                >
                  <strong class="name">{lastComment.email}</strong>
                  made the {getOrdinalNum(kCommentList.length)} comment.
                </span>
              )
            }
          </li>
          <li>
            <a href=`${kUrlBase}/friend/`>Friends</a>
            <span> Myriad Dreamin's friends. </span>
          </li>
        </ul>
      </section>
      <section class="nav-section" lang="en">
        <ul class="nav">
          <li>
            <a href=`${kUrlBase}/en/article/`>Posts</a>
            {
              lastPost && (
                <a
                  class="nav-desc"
                  href={`${kUrlBase}/${currentLocale === lastPost.data.lang ? "" : "en/"}article/${lastPost.id}`}
                  title={localePostData?.data("en").title}
                >
                  {localePostData?.data("en").title}
                </a>
              )
            }
          </li>
          <li>
            <a href=`${kUrlBase}/en/archive/`>Archives</a>
            {
              lastArchive && (
                <a
                  class="nav-desc"
                  href={`${kUrlBase}/archive/${lastArchive.id}.pdf`}
                  title={lastArchive.data.title}
                >
                  {lastArchive.data.title}
                </a>
              )
            }
          </li>
          <li>
            <a href=`${kUrlBase}/en/comment/`>Comments</a>
            {
              lastComment && (
                <span
                  class="nav-desc"
                  title={`${lastComment.email} at ${new Date(lastComment.createdAt).toLocaleString()}. ${lastComment.content}`}
                >
                  <strong class="name">{lastComment.email}</strong>
                  made the {getOrdinalNum(kCommentList.length)} comment.
                </span>
              )
            }
          </li>
          <li>
            <a href=`${kUrlBase}/friend/`>Friends</a>
            <span> Myriad Dreamin's friends. </span>
          </li>
        </ul>
      </section>
      <section class="nav-section" lang="zh">
        <ul class="nav">
          <li>
            <a href=`${kUrlBase}/zh/article/`>文章</a>
            {
              lastPost && (
                <a
                  class="nav-desc"
                  href={`${kUrlBase}/${currentLocale === lastPost.data.lang ? "" : "zh/"}article/${lastPost.id}`}
                  title={localePostData?.data("zh").title}
                >
                  {localePostData?.data("zh").title}
                </a>
              )
            }
          </li>
          <li>
            <a href=`${kUrlBase}/zh/archive/`>归档</a>
            {
              lastArchive && (
                <a
                  class="nav-desc"
                  href={`${kUrlBase}/archive/${lastArchive.id}.pdf`}
                  title={lastArchive.data.title}
                >
                  {lastArchive.data.title}
                </a>
              )
            }
          </li>
          <li>
            <a href=`${kUrlBase}/zh/comment/`>评论</a>
            {
              lastComment && (
                <span
                  class="nav-desc"
                  title={`${lastComment.email} 于 ${new Date(lastComment.createdAt).toLocaleString()}。${lastComment.content}`}
                >
                  <strong class="name">{lastComment.email}</strong>
                  发表了第 {kCommentList.length} 个评论。
                </span>
              )
            }
          </li>
          <li>
            <a href=`${kUrlBase}/friend/`>友链</a>
            <span> Myriad Dreamin的朋友们。 </span>
          </li>
        </ul>
      </section>
    </main>
    <Footer isHome={true} />
  </body>
</html>
