---
import { getCollection } from "astro:content";

import TagList from "virtual:tylant/components/TagList";
import Search from "virtual:tylant/components/Search";

import { BaseHead, Footer, FormattedDate, Header, Prelude } from "$components";
import { kUrlBase, kSiteTitle, kSiteDescription, kEnableSearch } from "$consts";
import { published } from "$content";

export async function getStaticPaths() {
  return ["zh", "en"].map((lang) => ({
    params: { lang },
  }));
}

import "$styles/IndexPostList.css";

const lang = Astro.currentLocale || "en";
const canonical = Astro.url.pathname.replace(/\/(zh|en)\//, "/");

const archives = (await getCollection("archive"))
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .filter(published);
---

<!doctype html>
<html lang={lang}>
  <head>
    <BaseHead
      title={kSiteTitle}
      canonical={canonical}
      description={kSiteDescription}
    />
    <style>
      @media (max-width: 600px) {
        .heading {
          display: flex;
          flex-direction: column;
        }
      }
      main {
        padding: 0em 1em;
      }
    </style>
  </head>
  <body>
    <Header breadcrumbs="Archives" />
    <Prelude />
    {kEnableSearch && <Search />}
    <main class={kEnableSearch ? "search-enabled" : ""}>
      <section>
        <ul class={`accent block-list posts${kEnableSearch ? " loading" : ""}`}>
          {
            archives.map((post) => (
              <li
                data-article-id={post.id}
                data-article-meta={JSON.stringify(post.data)}
              >
                <a class="heading" href={`${kUrlBase}/archive/${post.id}.pdf`}>
                  <h2>
                    <span class="title">{post.data.title}</span>
                  </h2>
                  <span class="date">
                    <FormattedDate date={post.data.date} />
                  </span>
                </a>
                {post.data.tags && (
                  <TagList
                    baseUrl={`${kUrlBase}/${lang}/archive`}
                    tags={post.data.tags}
                  />
                )}
                {post.data.description || ""}
              </li>
            ))
          }
        </ul>
        <script is:inline>
          if (!window.location.search) {
            document.querySelector(".posts").classList.remove("loading");
          }
        </script>
      </section>
    </main>
    <Footer />
  </body>
</html>
