---
import { getCollection } from "astro:content";

import { TagList, Search } from "@myriaddreamin/tylant";

import { BaseHead, Footer, FormattedDate, Header, Prelude } from "$components";
import { getPostLocaleInfo } from "$components/locale";
import { kUrlBase, kSiteTitle, kSiteDescription, kEnableSearch } from "$consts";

import "$styles/IndexPostList.css";
import { blogPosts, postLastModified } from "$content";

interface Props {
  lang?: string;
}

const lang = Astro.props.lang || Astro.currentLocale || "en";
const explicitLang = Astro.props.lang ? lang : undefined;
//todo: remove this hack
const canonical = explicitLang
  ? Astro.url.pathname.replace(/\/(zh|en)\//, "/")
  : undefined;

const postModified = new Map<string, Date>(
  (
    await Promise.all(
      blogPosts.map(
        async (post) =>
          [post.id, (await postLastModified(post.id))?.date as Date] as const
      )
    )
  ).filter(([, date]) => date)
);

const posts = blogPosts.map((post) => {
  return {
    id: post.id,
    // If no specific language is requested, use the default locale
    data: {
      ...(explicitLang
        ? getPostLocaleInfo(post.id)?.data(lang) || post.data
        : post.data),
      modifiedDate: postModified.get(post.id),
    },
  };
});
---

<!doctype html>
<html lang={lang}>
  <head>
    <BaseHead
      title={kSiteTitle}
      canonical={canonical}
      description={kSiteDescription}
    />
    <style>
      .posts.loading {
        display: none;
      }
      main.search-enabled {
        padding-top: 0;
      }
      /*  */
      @media (max-width: 600px) {
        .heading {
          display: flex;
          flex-direction: column;
        }
      }
    </style>
  </head>
  <body>
    <Header breadcrumbs="Posts" />
    <Prelude />
    {kEnableSearch && <Search />}
    <main class={kEnableSearch ? "search-enabled" : ""}>
      <section>
        <ul class={`accent block-list posts${kEnableSearch ? " loading" : ""}`}>
          {
            posts.map((post) => (
              <li
                data-article-id={post.id}
                data-article-meta={JSON.stringify(post.data)}
              >
                <a
                  class="heading"
                  href={`${kUrlBase}/${lang}/article/${post.id}/`}
                >
                  <h2>
                    <span class="title">{post.data.title}</span>
                  </h2>
                  <span class="date">
                    <FormattedDate date={post.data.date} />
                  </span>
                  {post.data.modifiedDate && (
                    <span class="date last-updated-on">
                      &nbsp;&#x270e;
                      <FormattedDate date={post.data.modifiedDate} />
                    </span>
                  )}
                </a>
                {post.data.tags && (
                  <TagList
                    baseUrl={`${kUrlBase}/${explicitLang ? explicitLang + "/" : ""}article`}
                    tags={post.data.tags}
                  />
                )}
                {post.data.description || ""}
              </li>
            ))
          }
        </ul>
        <script is:inline>
          if (!window.location.search) {
            document.querySelector(".posts").classList.remove("loading");
          }
        </script>
      </section>
    </main>
    <Footer />
  </body>
</html>
